.loading::before, .loading::after {
  content: "⌛";
  vertical-align: middle;
}

.loading {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}